! urxvt
URxvt*geometry: 107x53

URxvt.letterSpace: 0
URxvt*font: xft:Inconsolata\ for\ Powerline:pixelsize=17:antialias=true,xft:Noto Emoji:pixelsize=9:antialias=false
URxvt*boldFont: xft:Inconsolata\ for\ Powerline:pixelsize=17:antialias=true,xft:Noto Emoji:pixelsize=9:antialias=false
URxvt*.scrollBar: false
URxvt*.saveLines: 5000
URxvt*borderless: true

! disable the stupid ctrl+shift 'feature'
URxvt.iso14755: false
URxvt.iso14755_52: false

! image preview in ranger does not work when this is set
!URxvt.depth: 32

!color scheme:

*.colorUL: #86a2b0

*.background: #1B1B1B
*.foreground: #DEDEDE

! black
*color0: #181818
*color8: #554444
! red
*color1: #F92671
*color9: #FF669D
! green
*color2:#AFF32C
*color10: #BEED5F
! yellow
*color3: #FD971F
*color11: #E6DB74
! blue
*color4: #34BDEF
*color12: #66D9EF
! magenta
*color5: #9E6FFE
*color13: #DF92F6
! cyan
*.color6: #5E7175
*.color14: #A3BABF
! white
*.color7: #CCCCC6
*.color15: #F8F8F2

URxvt*transparent: true
URxvt*shading: 7

! Extensions
URxvt.perl-ext-common: default,matcher,font-size

! Clickable URLs
URxvt.url-launcher: /usr/bin/vivaldi-stable
URxvt.matcher.button: 1

! Variable font-size for presentations
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal


! patched urxvt needed: (AUR) rxvt-unicode-better-wheel-scrolling

! DISABLED (Not working with Powerline)

!Urxvt*.secondaryScreen: 1
!URxvt*.secondaryScroll: 0
!URxvt*.secondaryWheel: 1
